.links {
  margin-right: 1rem;
  color: white;
  text-decoration: none;
}

#individualInfoBar {
  margin: auto;
  color: red;
}

#commentVote {
  text-align: right;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

#collapse {
  margin-bottom: 0.5rem;
}

.IconButton {
  color: black;
}

#liked {
  color: red;
}

#notLiked {
  color: white;
}

#blankComment {
  border: 2px solid red;
}

.errorMsg {
  text-align: center;
}

.delete {
  text-align: left;
}

.sortBar {
  display: flex;
  margin-left: 3rem;
}

#order {
  display: flex;
}

.sortBar button {
  padding: 0.5rem;
  background-color: white;
  border: none;
  text-decoration: underline;
}

#sort {
  display: flex;
}

#clicked {
  color: green;
}
